<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="panel-group col-sm-10" style="margin-top: 40px">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span>Registration Form</span>
						</div>
						<div class="panel-body">
							<form autocomplete="off" action="#" th:action="@{/registration}"
								th:object="${user}" method="post" class="form-horizontal"
								role="form">

								<div class="form-group">
									<div class="col-sm-12">
										<div th:if="${successMessage != null}"
											class="alert alert-success">
											<p th:utext="${successMessage}"></p>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<label th:if="${#fields.hasErrors('name')}"
											th:errors="*{name}" style="font-size: 20; color: #FF1C19;"></label>
										<input type="text" th:field="*{name}" placeholder="Name"
											class="form-control" maxlength="64" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="password" th:field="*{password}"
											placeholder="Password" class="form-control" maxlength="64" />
										<label th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}"
											style="font-size: 20; color: #FF1C19;"></label>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-primary btn-block">Register
											User</button>
									</div>
								</div>
							</form>

							<form th:action="@{/}" method="get" class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-12">
										<button class="btn btn-md btn-warning btn-block" type="Submit">Go
											To Login Page</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>